.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 1rem;

  @media (min-width: 770px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project {
  background: var(--card-bg);
  color: var(--card-clr);
  height: 550px;
  max-width: 400px;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project__img-wrapper {
  border-radius: 5px;

  img {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
  }
}

.project__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--clr-accent);
}

.project__ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.125rem;
  font-weight: 600;
}

.project__text {
  padding: 1rem 0;
}

.project__links {
  display: flex;
  gap: 1rem;
}
